
/* audio page css rules */

  .audio--page {
    width: auto;
    height: 100%;
    background-image: url('../images/mixer5.jpg');
    background-position: 10%, 100%;
    background-size: cover;
    background-color:hsla(26, 92%, 68%, 0.285);
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
  
  }
  
  .audio--page--dark {
    width: auto;
    height: 100%;
    background-image: url('../images/mixer3.jpg');
    background-position: center;
    background-size: cover;
    /*background-color: rgba(16, 25, 68, 0.845);*/
    background-color: rgb(38, 32, 78);
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
  }
  
  .audio--titles {
    display: flex;
    /* border: solid blue; */
    height: 2rem;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7rem;
    padding: 2rem;
    margin-top: 3rem;
  
  }
  
  .audio--titles--dark {
    display: flex;
    color: white;
    height: 2rem;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7rem;
    padding: 2rem;
    margin-top: 3rem;
  }
  
  .audio--pricings {
    display: flex;
    height: 33rem;
    align-items: center;
    padding: 0rem;
  }
  
  .audio--pricings--dark {
    display: flex;
    height: 33rem;
    align-items: center;
    padding: 0rem;
    color: white;
  }
  
  .audio--mixing {
    height: 30rem;
    flex: 1;
  }
  
  .audio--mixing--dark {
    height: 30rem;
    flex: 1;
  }
  
  .audio--mastering {
    height: 30rem;
    flex: 1;
  }
  
  .audio--mastering--dark {
    height: 30rem;
    flex: 1;
  }
  
  /* audio pricings component */
  
  .mixing--list {
    list-style: none;
    display: flex;
    background-color: white;
    height: 6.4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.5rem;
    align-items: center;
    /* justify-content: space-around; */
    /*box-shadow: 4px 0 4px gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  
  .mixing--list--dark {
    list-style: none;
    display: flex;
    height: 6.4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(39, 55, 136, 0.924);
    /*box-shadow: 4px 0 4px gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  
  /* mixing single, ep, or lp */
  
  .mixing--single {
    flex: 1;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
  
  }
  
  .mixing--single:hover {
    cursor: pointer;
    transition: 0.2s linear;
    background-color: grey;
    border: solid;
    border-color: white;
    color: white;
  }
  
  .mixing--single--dark {
    flex: 1;
    border: solid;
  }
  
  .mixing--single--dark:hover {
    cursor: pointer;
    transition: 0.2s linear;
    background-color: darkslateblue;
    opacity: 1;
    /* border: solid; */
    border-color: white;
    color: white;
  }
  
  .mixing--ep {
    flex: 1;
    border: solid;
  }
  
  .mixing--ep:hover {
    cursor: pointer;
    transition: 0.2s linear;
    background-color: grey;
    border: solid;
    border-color: white;
    color: white;
  }
  
  .mixing--ep--dark {
    flex: 1;
    border-top: solid;
    border-bottom: solid;
  }
  
  .mixing--ep--dark:hover {
    cursor: pointer;
    transition: 0.2s linear;
    background-color: darkslateblue;
    /* border: solid; */
    border-color: white;
    color: white;
  }
  
  .mixing--lp {
    flex: 1;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
  }
  
  .mixing--lp:hover {
    cursor: pointer;
    transition: 0.2s linear;
    background-color: grey;
    border: solid;
    border-color: white;
    color: white;
  }
  
  .mixing--lp--dark {
    flex: 1;
    border: solid;
  }
  
  .mixing--lp--dark:hover {
    cursor: pointer;
    transition: 0.2s linear;
    background-color: darkslateblue;
    /* border: solid; */
    border-color: white;
    color: white;
  }
  
  /* mastering section */
  
  .mastering--list {
    list-style: none;
    display: flex;
    height: 6.4rem;
    background-color: white;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
    /*box-shadow: 4px 0 4px gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  
  .mastering--list--dark {
    list-style: none;
    background-color: rgba(39, 55, 136, 0.924);
    display: flex;
    height: 6.4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
    /*box-shadow: 4px 0 4px gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  
  /* mastering single, ep, or lp */
  
  .mastering--single {
    flex: 1;
    border: solid;
  }
  
  .mastering--single:hover {
    cursor: pointer;
    transition: 0.2s linear;
    background-color: grey;
    border: solid;
    border-color: white;
    color: white;
  }
  
  .mastering--single--dark {
    flex: 1;
    border: solid;
  }
  
  .mastering--single--dark:hover {
    cursor: pointer;
    transition: 0.2s linear;
    background-color: darkslateblue;
    opacity: 1;
    /* border: solid; */
    border-color: white;
    color: white;
  }
  
  .mastering--ep {
    flex: 1;
    border-top: solid;
    border-bottom: solid;
  }
  
  .mastering--ep:hover {
    cursor: pointer;
    transition: 0.2s linear;
    background-color: grey;
    border: solid;
    border-color: white;
    color: white;
  }
  
  .mastering--ep--dark {
    flex: 1;
    border-top: solid;
    border-bottom: solid;
  }
  
  .mastering--ep--dark:hover {
    cursor: pointer;
    transition: 0.2s linear;
    background-color: darkslateblue;
    /* border: solid; */
    border-color: white;
    color: white;
  }
  
  .mastering--lp {
    flex: 1;
    border: solid;
  }
  
  .mastering--lp:hover {
    cursor: pointer;
    transition: 0.2s linear;
    background-color: grey;
    border: solid;
    border-color: white;
    color: white;
  }
  
  .mastering--lp--dark {
    flex: 1;
    border: solid;
  }
  
  .mastering--lp--dark:hover {
    cursor: pointer;
    transition: 0.2s linear;
    background-color: darkslateblue;
    /* border: solid; */
    border-color: white;
    color: white;
  }
  
  
  
  /* hover logic */
  .mixing--list > h3:hover {
    color: tomato;
    cursor: pointer;
  }
  
  .mixing--list--dark > h3:hover {
    color: tomato;
    cursor: pointer;
  }
  
  .mastering--list > h3:hover {
    color: tomato;
    cursor: pointer;
  }
  
  .mastering--list--dark > h3:hover {
    color: tomato;
    cursor: pointer;
  }
  
  
  /* audio paragraph component */
  
  .audio--paragraph {
    border: solid;
    font-size: 1.7rem;
    background-color: white;
    height: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1.5rem;
    align-items: start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  
  .audio--paragraph--dark {
    border: solid white;
    font-size: 1.7rem;
    height: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1.5rem;
    align-items: start;
    background-color: rgba(39, 55, 136, 0.924);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }