

/* * {
  box-sizing: border-box;
} */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  /* background-color: #f9f9f9; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* affects the Link anchor tags via react-router-dom */
a {
  font-weight: 500; 
  /* color: #646cff;  */
  text-decoration: inherit;
}

/* box-sizing wrapper for certain sections */
.box-sizing--wrapper {
  box-sizing: border-box;
}

/* a:hover {
  color: #535bf2;
} */

/* App, body and html for HomePage */
.App {
  /* width: auto; */
  background-color:hsla(26, 92%, 68%, 0.285);
  color: #213547;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

.App--dark {
  /* width: 100%; */
  /*background-color: rgba(16, 25, 68, 0.845);*/
  background-color: rgb(38, 32, 78);
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

/* body and html for home-page */
html {
  height: 100%;
}

body {
  margin: 0;
  /* display: flex; */
  /*background-color:hsla(26, 92%, 68%, 0.285);*/

  min-height: 100%;
  /*place-items: center;*/
  /*min-width: 320px;
  min-height: 100vh;*/
}


/* lightMode button & logo */
.button--lightMode {
  width: 6rem;
  margin-right: 2.5rem;
}

/* darkMode button & logo */
.button--darkMode {
  width: 6rem;
  margin-right: 2.5rem;
}

/* welcome title lightMode and darkMode*/
.welcome--title {
  font-size: 4rem;
  line-height: 1.1;
  margin: 4rem;
}

.welcome--title--dark {
  font-size: 4rem;
  line-height: 1.1;
  margin: 4rem;
  color: white;
}


/* media queries for different screen sizes */


/* Media query for screens up to 414px wide (typical for mobile in vertical position) */
@media (max-width: 414px) {
  /* HomePage.jsx light */
  /* html, body, App and root */
  .App, #root {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .App--dark {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  html {
    /* background-color: #F8A36249; */
  }

  .homepage--title--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }

  .welcome--title, .welcome--title--dark {
    padding-top: 5rem;
    font-size: 1.6rem;
    /* width: 16rem; */
    text-align: center;
    /* margin-left: 5.5rem; */
  }

  .card, .card--dark {
    height: 16rem;
    /* margin-bottom: 2.5rem; */
    margin: 0 1.3rem 2.5rem 1.3rem;
  }

  .card--container {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card--message, .card--message--dark {
    /* max-width: 15rem; */
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.1rem;
  }

  .card--dark:active .card--image--dark {
    opacity: 0.65;
    cursor: pointer;
  }


  .nav--bar {
    position: fixed;
    z-index: 2;
    top: 0;
    height: 5rem; 
    width: 100%;
    border-radius: 0;
    /* display: flex; */
    justify-content: space-around;
  }

  .nav--bar--dark {
    position: fixed;
    z-index: 2;
    top: 0;
    height: 5rem; 
    width: 100%;
    border-radius: 0;
    background-color: #273788;
    justify-content: space-around;
  }

  .nav--mainLogo, .nav--mainLogo--dark {
    height: 4.5rem;
  }

  .nav--logoTitle, .nav--logoTitle--dark {
    font-size: 1.5rem;
    display: none;
  }

  .nav--items, .nav--items--dark {
    /* padding: 1rem;  */
    display: none;
    /* font-size: 1.4rem;
    padding: 1rem; */
  }

  .switch {
    position: relative;
    display: none;
    width: 50px;
    height: 24px;
  }

  .slider:before {
    height: 20px; 
    width: 20px; 
  }

  img.button--sunLogo {
    width: 3rem;
    margin-right: 2rem;
    padding: 2rem;
    /* margin-right: 5rem; */
  }

  img.button--moonLogo {
    width: 3rem;
    margin-right: 2rem;
    padding: 2rem;
  }

  .button--sunLogo--menuBar, .button--moonLogo--menuBar {
    display: none;
  }

  /* menu toggle bar */
  .menu--toggle, .menu--toggle--dark {
    display: flex;
  }

  .menu--toggle {
    /* margin-right: 3rem; */
    /* width: auto; */
    /* height: 3rem; */
    /* display: none; */
  }

  .menu--img, .menu--img--dark {
    margin-right: 2rem; 
    width: auto;
    height: 3rem;
    /* display: none !important; */
  }

  img.menuX, img.menuX--dark {
    /* margin-right: 3rem; */
    /* width: auto; */
    margin: 0;
    height: 13rem;
  }

  .menu--bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: white;
    height: 8rem; 
    width: 100%;
    border-radius: 0;
  }

  .menu--bar--dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #273788;
    height: 8rem; 
    width: 100%;
    border-radius: 0;
  }


  .menu--mainLogo, .menu--mainLogo--dark {
    height: 4.5rem;
    display: none;
  }

  .menu--logoTitle, .menu--logoTitle--dark {
    font-size: 1.5rem;
    display: none;
  }

  .menu--items, .menu--items--dark {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create two columns */
    padding: 0;
    margin-left: 3rem;
  }

  .menu--items > li, .menu--items--dark > li {
    font-size: 1.15rem;
    padding: 0.15rem;
  }

  .menu--logoDiv, .menu--logoDiv--dark {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-shrink: 0; */
  }
  
  .menu--logoTitle:hover, .menu--logoTitle--dark:hover {
    color: tomato;
  }
  
  .menu--menuLogo, .menu--menuLogo--dark {
    width: 5rem;
    margin: 40px;
  }
  
  
  .menu--items > li:hover, .menu--items--dark > li:hover {
    cursor: pointer;
    color: tomato;
    font-weight: 600;
  }

  /* footer */

  .footer-bar, .footer--bar--dark {
    /* margin-top: 10rem; */
  }

  .footer--cpr, .footer--cpr--dark {
    font-size: 0.6rem;
    margin-left: 1rem;
    margin-bottom: 2.5rem;
  }

  .footer--social, .footer--social--dark {
    font-size: 1.2rem;
  }

  .footer--social > a {
    margin-right: 0.8rem;
  }

  .footer--social--dark > a {
    margin-right: 0.8rem;
  }

  /* bio page  */
  .bio--page {
    background-image: url('./images/berlinDay/berlin2.jpg');
    background-position: center;
    /* background-position: ; */
    /* background-size: cover; */
    padding: 0;
  }

  .bio--page--dark {
    padding: 0;
    background-image: url('./images/berlinDay/berlin11.jpg');
  }

  .bio--welcome--title, .bio--welcome--title--dark {
    padding-top: 6rem;
    font-size: 2.2rem;
    display: flex;
    /* color: white; */
    justify-content: center;
    align-items: center;
  }

  .bio--para {
    font-size: 1.4rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: normal;
    margin-bottom: 2rem;
    /* color: white; */
  }

  .bio--para--dark {
    font-size: 1.4rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: normal;
    margin-bottom: 2rem;
  }

  /*  music page */
  .music--page {
    padding: 0;
    background-image: url(/src/images/guitar21.jpg);
  }
  
  .music--page > .welcome--title {
    color: white;
    max-width: 20rem;
    margin-bottom: 2rem;
  }

  .shakespeare {
    max-width: 15rem;
    margin-left: 5rem;
    font-size: 1.2rem;
    margin-bottom: 4rem;
  }

  .music--content {
    margin: 0 auto;
    max-width: none;
    /* font-size: 1.6rem; */
    /* max-width: 26rem; */
  }

  .music--content > p {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
    color: white;
    margin: 1rem 3rem 2rem 3rem;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.2;
  }

  .iframe--spotify {
    margin-left: 3.5rem;
  }

  .music--page--dark {
    padding: 0;
    background-image: url(/src/images/guitar13.jpg);
    /* background-position: 50% 80%; */
  }

  .music--page--dark > .welcome--title--dark {
    color: white;
    max-width: 20rem;
    margin-bottom: 2rem;
  }

  .shakespeare--dark {
    max-width: 15rem;
    margin-left: 5rem;
    font-size: 1.2rem;
    margin-bottom: 4rem;
  }

  .music--content--dark {
    margin: 0 auto;
    max-width: none;
    /* font-size: 1.6rem; */
    /* max-width: 26rem; */
  }

  .music--content--dark > p {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
    color: white;
    margin: 1rem 3rem 2rem 3rem;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.2;
  }


  /* audio page */
  .audio--page {
    padding: 0;
    background-position: 30% 0%;
    height: 155vh;
  }

  .audio--page--dark {
    padding: 0;
    height: 155vh;
  }

  .audio--page > .welcome--title, .audio--page--dark > .welcome--title--dark {
    display: flex;
    justify-content: center;
    line-height: 2.7rem;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    /* margin: 0rem; */
  }

  .audio--content, .audio--content--dark {
    display: flex;
    flex-direction: column;
    height: 115vh;

    /* margin-bottom: 15rem; */
    /* flex-direction: column; */
  }

  .audio--titles, .audio--titles--dark {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    margin: 0 auto;
  }

  .audio--titles > h1, .audio--titles--dark > h1 {
    font-size: 1.8rem;
    padding: 1rem;
  }

  .audio--mixing, .audio--mixing--dark {
    margin-bottom: 3rem;
  }

  .audio--pricings, .audio--pricings--dark {
    margin: 0rem;
    display: inline-flex;
    flex-direction: column;
    min-height: 100vh;
    /* display: none; */
  }

  .mixing--list, .mixing--list--dark {
    display: flex;
    margin: 0 auto;
    margin-top: 2.5rem;
    justify-content: center;

    width: 83vw;
    height: 11vh;
  }

  .audio--paragraph, .audio--paragraph--dark {
    display: flex;
    margin: 0 auto;
    justify-content: center;

    width: 70vw;
    height: 30vh;
  }

  .audio--paragraph > p, .audio--paragraph--dark > p {
    font-size: 0.95rem;
    margin: 0;
    font-weight: 600;
    /* align-items: start; */
  }

  .mastering--list, .mastering--list--dark {
    display: flex;
    margin: 0 auto;
    /* margin-top: 0.5rem; */
    justify-content: center;

    width: 83vw;
    height: 11vh;
  }


  /* wedding page */
  .wedding--page, .wedding--page--dark {
    padding: 0;
  }

  .wedding--content, .wedding--content--dark {
    /* display: none; */
  }

  .wedding--titles, .wedding--titles--dark {
    padding-top: 9rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .wedding--pricings, .wedding--pricings--dark {
    /* display: none; */
    width: 80vw;
    margin: 0 auto;
    justify-content: center;
  }

  .wedding--main, .wedding--main--dark {
    /* height: 40vw; */
  }

  .wedding--list, .wedding--list--dark {
    margin: 0rem;

    height: 100vw;
  }

  .wedding--list > div > h3, .wedding--list--dark > div > h3 {
    font-size: 5vw;
    width: 5rem;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
  }

  .wedding--paragraph, .wedding--paragraph--dark {
    margin: 0rem;
    height: 84vw;
  }

  .wedding--paragraph > p, .wedding--paragraph--dark > p {
    font-size: 1.3rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .wedding--titles--info, .wedding--titles--info--dark {
    margin-top: 6rem;
    margin-left: 0rem;
    margin-bottom: 8rem;
    width: 80vw;
    font-size: 5vw;
  }

  /* coding page */
  .coding--page > h1, .coding--page--dark > h1 {
    font-size: 3rem;
  }

  .coding--page > p {
    margin-top: 4rem;
    margin-bottom: 8rem;
    max-width: 34rem;
    text-align: start;
  }

  .coding--page--dark > p {
    margin-top: 4rem;
    margin-bottom: 8rem;
    max-width: 55rem;
    text-align: start;
  }

  .coding--button--section, .coding--button--section--dark {
    margin-left: 3.5rem;
    display: inline-block;
  }
  .coding--buttons {
    margin-right: 2rem;
  }

  .coding--buttons--dark {
    margin-right: 15rem;
    margin-bottom: 9rem;
  }
}



/* Media query for screens between mobile and iPad */
@media (min-width: 415px) and (max-width: 768px) {
      /* HomePage.jsx light */

  /* html, body, App and root */
  .App, .App--dark, #root {
    /* width: 100%; */
    /* height: 100%; */
    padding: 0;
  }


  .welcome--title, .welcome--title--dark {
    font-size: 2.8rem;
    padding-top: 9rem;
  }

  .card, .card--dark {
    height: 27rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2.5rem;
  }

  .card--dark:active .card--image--dark {
    opacity: 0.65;
    cursor: pointer;
  }

  .nav--bar {
    background-image: url('./images/berlinDay/berlin13.jpg');
    background-position: 28% 80%;
    position: fixed;
    z-index: 2;
    top: 0;
    height: 6rem; 
    width: 100%;
    border-radius: 0;
  }

  .nav--bar--dark {
    background-image: url('./images/berlinNight/berlin8.jpg');
    background-position: 54% 42.2%;
    position: fixed;
    z-index: 2;
    top: 0;
    height: 6rem; 
    width: 100%;
    border-radius: 0;
    background-color: #273788;
  }

  .nav--mainLogo, .nav--mainLogo--dark {
    height: 4.5rem;
  }

  .nav--logoTitle, .nav--logoTitle--dark {
    font-size: 1.5rem;
  }

  .nav--items > li, .nav--items--dark > li {
    /* padding: 1rem;  */
    display: none;
    font-size: 1.4rem;
    padding: 1rem;
  }

  .switch {
    position: relative;
    display: none;
    width: 50px;
    height: 24px;
  }

  .slider:before {
    height: 20px; 
    width: 20px; 
  }

  img.button--sunLogo {
    display: none;
  }

  img.button--moonLogo {
    display: none;
  }

  img.button--sunLogo--menuBar {
    /* width: 3rem; */
    margin: 0 0 0 3rem;
    /* display: none; */
    /* margin-right: 5rem; */
  }

  img.button--moonLogo--menuBar {
    /* width: 3rem; */
    /* margin: 0 0 0 3rem; */
    margin: 0 0 0 3rem;
    /* display: none; */
    /* margin-right: 5rem; */
  }

  /* menu toggle bar */
  .menu--toggle, .menu--toggle--dark {
    display: flex;
  }

  .menu--toggle > img, .menu--toggle--dark > img {
    margin-right: 3rem;
    width: auto;
    height: 3rem;
  }

  img.menuX, img.menuX--dark {
    /* margin-right: 3rem; */
    /* width: auto; */
    margin: 0;
    height: 13rem;
  }

  .menu--bar {
    background-image: url('./images/berlinDay/berlin13.jpg');
    background-position: 25.5% 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: white;
    height: 12rem; 
    width: 100%;
    border-radius: 0;
  }

  .menu--bar--dark {
    background-image: url('./images/berlinNight/berlin8.jpg');
    background-position: 54% 41%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    /* background-color: #273788; */
    height: 12rem; 
    width: 100%;
    border-radius: 0;
  }

  .menu--mainLogo, .menu--mainLogo--dark {
    height: 5.5rem;
    display: none;
  }

  .menu--logoTitle, .menu--logoTitle--dark {
    font-size: 1.5rem;
    display: none;
  }
  
  .menu--logoDiv, .menu--logoDiv--dark {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-shrink: 0; */
  }
  
  .menu--logoTitle:hover, .menu--logoTitle--dark:hover {
    color: tomato;
  }
  
  .menu--menuLogo, .menu--menuLogo--dark {
    width: 5rem;
    margin: 40px;
  }
  

  .menu--items, .menu--items--dark {
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create two columns */
    padding: 0;
  }

  .menu--items > li, .menu--items--dark > li {
    font-size: 1.5rem;
    padding: 0.4rem;
  }
  
  .menu--items > li:hover, .menu--items--dark > li:hover {
    cursor: pointer;
    color: tomato;
    font-weight: 600;
  }

    /* footer lightMode */

.footer--bar {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer--cpr {
  font-size: 0.8rem;
  margin-left: 1rem;;
  /* color: white; */
}

.footer--social {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  font-size: 1.8rem;
  /* margin-right: 3rem; */
}

.footer--social > a {
  /* color: #213547; */
  /* color: white; */
  padding-bottom: 2rem;
  margin-top: 0.5rem;
  margin-right: 1.3rem;
}

/* footer darkMode */

.footer--bar--dark {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer--cpr--dark {
  font-size: 0.8rem;
  margin-left: 1rem;;
  /* color: white; */
}

.footer--social--dark {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  font-size: 1.8rem;
  /* margin-right: 3rem; */
}

.footer--social--dark > a {
  /* color: #213547; */
  /* color: white; */
  padding-bottom: 2rem;
  margin-top: 0.5rem;
  margin-right: 1.3rem;
}


/* bio page  */
.bio--page, .bio--page--dark {
  /* background-image: url('./images/berlinDay/berlin13.jpg'); */
  /* background-position: center; */
  background-image: none;
  height: auto;
  width: 100vw;
  /* background-position: ; */
  /* background-size: cover; */
  padding: 0;
}

.bio--welcome--title, .bio--welcome--title--dark {
  padding-top: 10rem;
  font-size: 2.2rem;
  display: flex;
  margin-bottom: 4rem;

  justify-content: center;
  align-items: center;
}

.bio--para, .bio--para--dark {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 23rem;
  margin: 0 auto;

  font-size: 1.45rem;
  margin-top: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;

}


 /*  music page */
 .music--page {
  padding: 0;
  background-image: url(/src/images/guitar21.jpg);
}

.music--page > .welcome--title {
  color: white;
  max-width: 40rem;
  margin-bottom: 2rem;
}

.shakespeare {
  /* max-width: 20rem; */
  margin-left: 5rem;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.music--content {
  margin: 0 auto;
  max-width: none;
  /* font-size: 1.6rem; */
  /* max-width: 26rem; */
}

.music--content > p {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
  color: white;
  margin: 1rem 3rem 2rem 3rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.2;
}

.iframe--spotify {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4.5rem;
  max-width: 50rem;
}

.music--page--dark {
  padding: 0;
  background-image: url(/src/images/guitar13.jpg);
  /* background-position: 50% 80%; */
}

.music--page--dark > .welcome--title {
  color: white;
  max-width: 40rem;
  margin-bottom: 2rem;
}

.shakespeare--dark {
  /* max-width: 20rem; */
  margin-left: 5rem;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.music--content--dark {
  margin: 0 auto;
  max-width: none;
  /* font-size: 1.6rem; */
  /* max-width: 26rem; */
}

.music--content--dark > p {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
  color: white;
  margin: 1rem 3rem 2rem 3rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.2;
}

  /* audio page */
  .audio--page {
    padding: 0;
    background-position: 30% 0%;
    height: 212vh;
  }

  .audio--page--dark {
    padding: 0;
    height: 212vh;
  }

  .audio--page > .welcome--title, .audio--page--dark > .welcome--title--dark {
    display: flex;
    justify-content: center;
    line-height: 4rem;
    font-size: 4.5vh;
    padding-top: 20vh;
    margin-bottom: 3.5rem;
    /* margin: 0rem; */
  }

  .audio--content, .audio--content--dark {
    display: flex;
    flex-direction: column;
    height: 143vh;
    /* margin-bottom: 15rem; */
    /* flex-direction: column; */
  }

  .audio--titles, .audio--titles--dark {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .audio--titles > h1, .audio--titles--dark > h1 {
    font-size: 3rem;
    padding: 1rem;
    display: none;
  }

  .audio--mixing, .audio--mixing--dark {
    margin-bottom: 3rem;
  }

  .audio--pricings, .audio--pricings--dark {
    margin: 0rem;
    display: inline-flex;
    flex-direction: column;
    min-height: 100vh;
    /* display: none; */
  }

  .mixing--list, .mixing--list--dark {
    display: flex;
    margin: 0 auto;
    margin-top: 0rem;
    justify-content: center;

    width: 88vw;
    height: 11vh;
  }

  .audio--paragraph, .audio--paragraph--dark {
    display: flex;
    margin: 0 auto;
    justify-content: center;

    width: 76vw;
    height: 50vh;
  }

  .audio--paragraph > p, .audio--paragraph--dark > p {
    font-size: 1.4rem;
    font-weight: 590;
    margin: 0;
    /* align-items: start; */
  }

  .mastering--list, .mastering--list--dark {
    display: flex;
    margin: 0 auto;
    margin-top: 8.5rem;
    justify-content: center;

    width: 88vw;
    height: 11vh;
  }


  /* wedding page */
  .wedding--page, .wedding--page--dark {
    padding: 0;
  }


}



/* Media query for screens between 769px and 1279px wide (typical for tablets in vertical position...?) */
@media (min-width: 769px) and (max-width: 1279px) {
  @media (min-width: 415px) and (max-width: 768px) {
    /* HomePage.jsx light */
    
      /* html, body, App and root */
      .App, .App--dark, #root {
        padding: 0;
        /* display: flexbox; */
        /* width: 100%; */
        /* height: 100%; */
      }
    
      .homepage--title--flex {
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
    
      .welcome--title, .welcome--title--dark {
        font-size: 3.3rem;
        /* width: 50rem; */
        /* text-align: justify; */
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 16rem;
        margin: 0 auto 3.5rem auto;
        
      }
    
      .card, .card--dark {
        height: 40rem;
        width: 50rem;
        margin-bottom: 2.5rem;
      }
    
      .card--dark:active .card--image--dark {
        opacity: 0.65;
        cursor: pointer;
      }
    
    
      /* navbar  */
    
      .nav--bar {
        background-image: url('./images/berlinDay/berlin13.jpg');
        background-position: 20% 79.6%;
        position: fixed;
        z-index: 2;
        top: 0;
        height: 6rem; 
        width: 100%;
        border-radius: 0;
        /* transform: scaleY(1); Initially, set scaleY to 1 to keep it visible */
        /* transform-origin: top; Set the transform origin to the top */
        /* transition: transform 1.3s; Add a transition for transform property */
      }
    
      .nav--bar--dark {
        background-image: url('./images/berlinNight/berlin8.jpg');
        background-position: 54% 40.3%;
        position: fixed;
        z-index: 2;
        top: 0;
        height: 6rem; 
        width: 100%;
        border-radius: 0;
        background-color: #273788;
        /* transform: scaleY(1); Initially, set scaleY to 1 to keep it visible */
        /* transform-origin: top; Set the transform origin to the top */
        /* transition: transform 1.3s; Add a transition for transform property */
      }
    
      .nav--mainLogo, .nav--mainLogo--dark {
        height: 4.5rem;
      }
    
      .nav--logoTitle, .nav--logoTitle {
        font-size: 1.5rem;
      }
    
      .nav--items > li, .nav--items--dark {
        /* padding: 1rem;  */
        display: none;
        font-size: 1.4rem;
        padding: 1rem;
      }
    
      .switch {
        position: relative;
        display: none;
        width: 50px;
        height: 24px;
      }
    
      .slider:before {
        height: 20px; 
        width: 20px; 
      }
    
      img.button--sunLogo {
        /* width: 3rem;
        margin: 0 0 0 38rem; */
        display: none;
        /* margin-right: 5rem; */
      }
    
      img.button--moonLogo {
        /* width: 3rem;
        margin: 0 0 0 38rem; */
        display: none;
        /* margin-right: 5rem; */
      }
    
      /* menu toggle bar */
      .menu--toggle, .menu--toggle--dark {
        display: flex;
      }
    
      .menu--toggle > img, .menu--toggle--dark > img {
        margin-right: 3rem;
        width: auto;
        height: 3rem;
      }
    
      img.button--sunLogo--menuBar {
        /* width: 3rem; */
        margin: 0 0 0 4rem;
        /* display: none; */
        /* margin-right: 5rem; */
      }
    
      img.button--moonLogo--menuBar {
        /* width: 3rem; */
        margin: 0 0 0 3rem;
        /* display: none; */
        /* margin-right: 5rem; */
      }
    
    
      img.menuX, img.menuX--dark {
        /* margin-right: 3rem; */
        /* width: auto; */
        margin: 0;
        height: 13rem;
      }
    
      .menu--bar {
        background-image: url('./images/berlinDay/berlin13.jpg');
        background-position: 20% 80.2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 2;
        top: 0;
        background-color: white;
        height: 14rem; 
        width: 100%;
        border-radius: 0;
        /* height: 100%; */
        /* transform: scaleY(1); Initially, set scaleY to 0 to hide it */
        /* transform-origin: top; Set the transform origin to the top */
        /* transition: transform 1.3s; Add a transition for transform property */
      }
    
      .menu--bar--dark {
        background-image: url('./images/berlinNight/berlin8.jpg');
        background-position: 54% 41%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 2;
        top: 0;
        background-color: #273788;
        height: 14rem; 
        width: 100%;
        border-radius: 0;
      }
    
      .menu--atag{
        color: black;
      }
    
      .menu--atag--dark {
        color: white;
      }
    
      .menu--mainLogo, .menu--mainLogo--dark {
        height: 6.5rem;
        flex-shrink: 2;
        /* display: none; */
      }
    
      .menu--logoTitle, .menu--logoTitle--dark {
        font-size: 1.5rem;
        display: none;
      }
    
      .menu--items, .menu--items--dark {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Create two columns */
        padding: 0;
      }
    
      .menu--items > li, .menu--items--dark > li {
        font-size: 1.6rem;
        padding: 0.6rem;
      }
      
      .menu--logoDiv, .menu--logoDiv--dark {
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-shrink: 0; */
      }
      
      .menu--logoTitle:hover, .menu--logoTitle--dark:hover {
        color: tomato;
      }
      
      .menu--menuLogo, .menu--menuLogo--dark {
        width: 5rem;
        margin: 40px;
      }
      
      .menu--items > li:hover, .menu--items--dark > li:hover {
        cursor: pointer;
        color: tomato;
        font-weight: 600;
      }
    
      .footer--bar, .footer--bar--dark {
        padding-bottom: 2rem;
        margin-top: 1rem;
      }
    
      .footer--social, .footer--social--dark {
        font-size: 2rem;
        /* margin-right: 4rem; */
      }
    
    
      /* bio page  */
      .bio--page, .bio--page--dark {
        /* background-image: url('./images/berlinDay/berlin13.jpg'); */
        /* background-position: center; */
        background-image: none;
        height: auto;
        width: 100vw;
        /* background-position: ; */
        /* background-size: cover; */
        padding: 0;
      }
    
      .bio--welcome--title, .bio--welcome--title--dark {
        padding-top: 14rem;
        font-size: 2.8rem;
        display: flex;
        margin-bottom: 4rem;
    
        justify-content: center;
        align-items: center;
      }
    
      .bio--para, .bio--para--dark {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 30rem;
        margin: 0 auto;
    
        font-size: 1.45rem;
        margin-top: 3rem;
        font-weight: 500;
        margin-bottom: 2rem;
    
      }
    
    
      /*  music page */
      .music--page {
        padding: 0;
        background-image: url(/src/images/guitar21.jpg);
      }
    
      .music--page > .welcome--title {
        color: white;
        max-width: 40rem;
        margin-bottom: 2rem;
      }
    
      .shakespeare {
        /* max-width: 20rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0rem;
        margin-top: 3rem;
        font-size: 1.7rem;
        margin-bottom: 4rem;
      }
    
      .music--content {
        margin: 0 auto;
        max-width: none;
        /* font-size: 1.6rem; */
        /* max-width: 26rem; */
      }
    
      .music--content > p {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* margin: 0 auto; */
        color: white;
        margin: 1rem 7rem 2rem 7rem;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.2;
      }
    
      .iframe--spotify {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 10.5rem;
        max-width: 40rem;
      }
    
      .music--page--dark {
        padding: 0;
        background-image: url(/src/images/guitar13.jpg);
        /* background-position: 50% 80%; */
      }
    
      .music--page--dark > .welcome--title--dark {
        color: white;
        max-width: 40rem;
        margin-bottom: 2rem;
      }
    
      .shakespeare--dark {
        /* max-width: 20rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0rem;
        margin-top: 3rem;
        font-size: 1.7rem;
        margin-bottom: 4rem;
      }
    
      .music--content--dark {
        margin: 0 auto;
        max-width: none;
        /* font-size: 1.6rem; */
        /* max-width: 26rem; */
      }
    
      .music--content--dark > p {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* margin: 0 auto; */
        color: white;
        margin: 1rem 7rem 2rem 7rem;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.2;
      }
    
    
     .audio--page, .audio--page--dark {
      padding: 0;
     }
    
     .audio--content, .audio--content--dark {
      height: 100vh;
     }
    
     .audio--paragraph, .audio--paragraph--dark {
      height: 67vh;
     }
    
     .audio--paragraph > p, .audio--paragraph--dark > p {
      font-size: 2.5vh;
      font-weight: 600;
     }
    
      /* weddings page */
    
      .wedding--page {
    
      }
    
      .wedding--titles, .wedding--titles--dark {
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }
    
      .wedding--list, .wedding--list--dark {
        margin: 0rem;
      }
    
      .wedding--paragraph, .wedding--paragraph--dark {
        margin: 0rem;
        height: 25.8rem;
      }
    
      .wedding--paragraph > p, .wedding--paragraph--dark > p {
        font-size: 2rem;
      }
    
      .wedding--titles--info, .wedding--titles--info--dark {
        margin-top: 4rem;
        margin-left: 0rem;
        margin-bottom: 8rem;
        width: 55rem;
        font-size: 1.7rem;
      }
    
      /* coding page */
      .coding--page > h1, .coding--page--dark > h1 {
        font-size: 3rem;
      }
    
      .coding--page > p {
        margin-top: 4rem;
        margin-bottom: 8rem;
        max-width: 34rem;
        text-align: start;
      }
    
      .coding--page--dark > p {
        margin-top: 4rem;
        margin-bottom: 8rem;
        max-width: 55rem;
        text-align: start;
      }
    
      .coding--button--section, .coding--button--section--dark {
        margin-left: 3.5rem;
        display: inline-block;
      }
      .coding--buttons {
        margin-right: 2rem;
      }
    
      .coding--buttons--dark {
        margin-right: 15rem;
        margin-bottom: 9rem;
      }
    }
}



/* Media query for screen sizes between 1280px wide and 1509px wide */
@media (min-width: 1280px) and (max-width: 1509px) {
  
/* nav bar */
.nav--logoDiv, .nav--logoDiv--dark {
  flex-shrink: 1;
}

.nav--items, .nav--items--dark {
  flex-shrink: 5;
  /* margin-left: 0rem; */
  padding: 0rem;
}

.nav--items > li, .nav--items--dark > li {
  padding: 0.7rem;
  font-size: 1.5rem;
}

.switch {
  flex-shrink: 1;
}

/* menu bar */
.menu--logoDiv, .menu--logoDiv--dark {
  flex-shrink: 1;
}

.menu--items, .menu--items--dark {
  flex-shrink: 5;
  /* margin-left: 0rem; */
  padding: 0rem;
}

.menu--items > li, .menu--items--dark > li {
  padding: 0.7rem;
  font-size: 1.8rem;
}


/* audio page */

.audio--content, .audio--content--dark {
  height: 85vh;
}

.audio--paragraph, .audio--paragraph--dark {
  height: 50vh;
}
}



/* Media query for screen sizes between 1510px wide and 1919px or HD */
@media (min-width: 1510px) and (max-width: 1919px) {
  /* nav bar */
  .nav--logoDiv, .nav--logoDiv--dark {
    flex-shrink: 1;
  }

  .nav--items, .nav--items--dark {
    /* flex-shrink: 5; */
    /* margin-left: 0rem; */
    /* padding: 0rem; */
  }

  .nav--items > li, .nav--items--dark > li {
    padding: 1.3rem;
    font-size: 1.8rem;
  }

  .switch {
    /* flex-shrink: 1; */
  }

  /* menu bar */
  .menu--logoDiv, .menu--logoDiv--dark {
    flex-shrink: 1;
  }

  .menu--items, .menu--items--dark {
    flex-shrink: 5;
    /* margin-left: 0rem; */
    padding: 0rem;
  }

  .menu--items > li, .menu--items--dark > li {
    padding: 1.3rem;

    font-size: 1.8rem;
  }

  .card, .card--dark {
    margin-bottom: 4rem;
    width: 42rem;
    height: 32rem;
  }

  /* audio page */

  .audio--content, .audio--content--dark {
    height: 80vh;
  }

  .audio--paragraph, .audio--paragraph--dark {
    height: 45vh;
  }
}

