/* navbar css rules */

  .button--sunLogo {
    width: 4rem;
    margin-right: 3rem;
  }

  .button--moonLogo {
    width: 4rem;
    margin-right: 3rem;
  }


/* navbar lightMode */
 .nav--bar {
    display: flex;
    background-color: white;
    opacity: 1;
    border-radius: 1rem;
    height: 6.4rem;
    align-items: center;
    justify-content: space-between;
    /*box-shadow: 4px 0 4px gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  
  .nav--logoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-shrink: 0; */
  }
  
  .nav--mainLogo {
    width: auto;
    height: 6.5rem;
    display: absolute;
    margin-left: 0rem;
    margin-right: 0rem;
    /*padding: 2.5rem;*/
  }
  
  .nav--logoTitle {
    font-size: 2rem;
    color: black;
  }
  
  .nav--logoTitle:hover {
    color: tomato;
  }
  
  .nav--menuLogo {
    width: 5rem;
    margin: 40px;
  }
  
  .nav--items {
    list-style: none;
    display: flex;
    /* flex-shrink: 2; */
  }
  
  .nav--items > li {
    padding: 3rem;
    font-size: 1.7rem;
  }
  
  .nav--items > li:hover {
    cursor: pointer;
    color: tomato;
    font-weight: 600;
  }

  /* navbar darkMode*/
.nav--bar--dark {
    display: flex;
    background-color: rgba(39, 55, 136, 0.924);
    opacity: 1;
    border-radius: 1rem;
    height: 6.4rem;
    align-items: center;
    justify-content: space-between;
    /*box-shadow: 4px 0 4px gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  
  .nav--logoDiv--dark {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav--mainLogo--dark {
    width: auto;
    height: 6.5rem;
    display: absolute;
    margin-left: 0rem;
    margin-right: 0rem;
    /*padding: 2.5rem;*/
  }
  
  .nav--logoTitle--dark {
    font-size: 2rem;
    color: white;
  }
  
  .nav--logoTitle--dark:hover {
    color: tomato;
  }
  
  .nav--menuLogo--dark {
    width: 5rem;
    margin: 40px;
  }
  
  .nav--items--dark {
    list-style: none;
    display: flex;
    color: white;
  }
  
  .nav--items--dark > li {
    padding: 3rem;
    font-size: 1.7rem;
  }
  
  .nav--items--dark > li:hover {
    cursor: pointer;
    color: tomato;
    font-weight: 600;
  }
  
  /* navbar anchor <a> tags from the Links */
  .nav--atag {
    color: black;
  }
  
  .nav--atag--dark {
    color: white;
  }
  
  .nav--atag:hover, .nav--atag--dark:hover {
    color: tomato;
  }



  /* toggle switch button */

/* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }