/* contact page css rules */
  .contact--page {
    width: auto;
    height: 100%;
    background-image: url('../images/web6.jpg');
    background-position: left;
    background-size: cover;
    background-color:hsla(26, 92%, 68%, 0.285);
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    /* display: inline-block; */
  }
  
  .contact--page--dark {
    width: auto;
    height: 100%;
    background-image: url('../images/web12.jpg');
    background-position: center;
    background-size: cover;
    /*background-color: rgba(16, 25, 68, 0.845);*/
    background-color: rgb(38, 32, 78);
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
  }
  
  .contact--welcome--title {
    margin-top: 4rem;
    color: whitesmoke;
    width: 40rem;
    text-align: justify;
  }
  
  .contact--welcome--title--dark {
    margin-top: 4rem;
    color: whitesmoke;
    width: 40rem;
    text-align: justify;
  }
  
  .contact--form {
    margin-left: 10rem;
    margin-top: 1rem;
    /* border: red solid; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: start;
  }
  
  .contact--form > div > div {
    margin: 2rem;
    color: white; 
    font-size: 2rem;
  }
  
  .contact--form--dark {
    margin-left: 10rem;
    margin-top: 1rem;
    /* border: red solid; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: start;
  }
  
  .contact--form--dark > div > div {
    margin: 2rem;
    color: white; 
    font-size: 2rem;
  }
  
  .input--line {
    width: 20rem;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  
  .input--line--dark {  
    width: 20rem;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  
  .input--text {
    width: 35rem;
    height: 12.5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  
  .input--text--dark {
    width: 35rem;
    height: 12.5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  
  .input--combined {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .input--combined--dark {
    display: flex;
    flex-direction: column;
  }
  
  /* css rules for placeholder text */
  input::placeholder {
    font-family: "Arial", sans-serif;
    font-size: 1.4rem;
    color: #999;
    padding: 0.5rem;
  }
  
  textarea::placeholder {
    font-family: "Arial", sans-serif;
    font-size: 1.4rem;
    color: #999;
    padding: 0.5rem;
  }
  
  .submit--button--class {
    margin-top: 1rem;
    margin-left: 7rem;
  }
  
  .submit--button--class--dark {
    margin-top: 1rem;
    margin-left: 7rem;
  }
  
  .submit--button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #af704c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .submit--button:hover {
    background-color: #af704c;
  }
  
  .submit--button:active {
    background-color: #af704c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .submit--button--dark {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #af704c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .submit--button--dark:hover {
    background-color: #af704c;
  }
  
  .submit--button--dark:active {
    background-color: #af704c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }